body {
  font-family: "Avenir Next";
  color:#fbfcfc;
}

li {
  list-style: none;
}

.header {
  background-color: #f5d32c;
  color: #0dc526;
  height: 60px;
  margin: 25px 50px;
}

.header-logo {
  float: left;
  font-size: 30px;
  font-weight:800;
  letter-spacing: 5px;
  padding: 13px 15px;
}

.header-list ul {
  float: right;
}
.header-list li {
  float: left;
  padding-top: auto;
  padding-right: 25px;
  font-size: 20px;
}

.main-container {
  margin: 75px auto 0px;
  background-color: #aeb6bf;
}

.main-container h1 {
  font-size: 100px;
  margin: 25px 50px 15px;
  letter-spacing: 2px;
  color:  #b9770e ;
}

.main-container h2 {
  font-size: 50px;
  font-weight: 200;
  margin: 0 50px 20px;
  color:  #b9770e ;
}

.work {
  margin: 0px auto 25px;
  background-color: #04c7b9;
  height: 250px;
}

.gmbr {
  padding: 40px 50px;
}

.gmbr h3 {
  display: contents;
  text-align: left;
  font-size: 25px;
  letter-spacing: 2px;
}

.about {
  height: 300px;
  background-color: #0d4bcf;
}

.about h1 {
  padding: 40px 50px 0;
  text-align: left;
}

.about h2 {
  padding: 20px 50px;
  text-align: justify;
  font-size: 25px;
  letter-spacing: 2px;

}

.contact {
  text-align: center;
  height: 500px;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: rgb(244, 244, 244);
}

.contact-title {
  font-size: 28px;
  padding-bottom: 20px;
}

input, textarea {
  width: 800px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding:20px;
  font-size: 18px;
  border: 0px;
  background-color: #ffffff;
  border-radius: 15px;
}

::placeholder {
  font-family: "Avenir Next";
  color:#7C7D83;
}

.contact-submit{
  width: 500px;
  background-color:#f7ea8a;
  color:#4f4f4f;
  font-size: 22px;
}

.contact-form p{
  font-size: 20px;
}

.footer {
  background-color: #7C7D83;
  color: #fff;
  height: 40px;
  padding: 20px 50px
}

.footer-logo {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 5px;
}
